.notificationBox{
	position: relative;
	width: 1200px;
	height: 65px;
	text-align: center;
	border-top: #D6D6D6 1px solid;
	border-bottom: #D6D6D6 1px solid;
	border-right: #D6D6D6 1px solid;
}
.notTitle{
	float: left;
	position: relative;
	top: -1px;
	width: 66px;
	height: 66px;
	color: #fff;
	margin-right:2.3%;
	background: #0062AC;
}
.notTitle>span{
	display: block;
	width: 66px;
	padding-top: 14px;
}
.notification{
	float: left;
	width: 300px;
	height: 65px;
	line-height: 65px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.notification a{
	color: #B3B3B3;
}
.notification a:hover{
	color: #0062AC;
}
.notRight{
	position: absolute;
	top: 18px;
	right: 18px;
}
.notRight img{
	width: 28px;
	height: 28px;
}
.noteBox{
	width: 1020px;
	overflow: hidden;
}
#note{
	position: relative;
	width: 4080px;
}